<footer
class="flex-col flex justify-center items-center py-10 pb-5 w-full h-max px-5 mt-10"
>
<div
  class="max-w-6xl mx-auto gap-3 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4"
>
  <!-- navbar logo -->
  <div>
	<a href="/" class="h-[65px] lg:h-[85px] block">
	  <img
		class="w-auto"
		src="./asssets/recruiture-logo-svg.svg"
		alt="recruiture's logo icon"
	  />
	</a>
  </div>

  <div>
	<h3
	  class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-light-blue)]"
	>
	  Quick Links
	</h3>

	<div class="flex flex-col space-y-3 mt-5">
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="./html/about.html"
		>About us</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="./html/blog.html"
		>Blog</a
	  >
	  <a
		data-name="employer-btn"
		class="cursor-pointer font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
	  >
		Employer
	  </a>
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="#testimonials"
		>Testimonials</a
	  >
	</div>
  </div>

  <div>
	<h3
	  class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-light-blue)]"
	>
	  Company
	</h3>

	<div class="flex flex-col space-y-3 mt-5">
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="#our-services"
		>Our Services</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="#our-value-proposition"
		>Our value proposition</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="./html/employer.html"
		>Get certified</a
	  >
	</div>
  </div>

  <div class="break-words">
	<h3
	  class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-light-blue)]"
	>
	  Get in Touch
	</h3>

	<div class="flex flex-col space-y-3 mt-5">
	  <p
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
	  >
		18, Bakare Dawodu Street, Ifako Gbagada Lagos.
	  </p>
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="mailto:recruiture@edubridgeacademy.com"
		>recruiture@edubridgeacademy.com</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
		href="tel:+234 906 066 6278"
		>+234 906 066 6278</a
	  >
	</div>
  </div>
</div>

<div class="max-w-6xl mx-auto border-t mt-10 w-full">
  <p
	class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] py-5"
  >
	Copyright: Recruiture 2022. All rights reserved. Privacy & Terms
  </p>
</div>
</footer>