<section
aria-modal="true"
data-status="close"
data-name="side_bar"
class="sidebar__close transition-transform duration-200 ease-linear md:hidden w-full h-screen z-50 fixed top-0 left-0 bottom-0 bg-white max-w-md invisible"
>
<!-- header -->
<div
  class="flex w-full md:w-max xl:w-[33%] justify-between nav__shadow px-3 sm:px-5 py-2"
>
  <!-- navbar logo mobile-screen -->
  <a href="/" class="flex flex-col">
	<p
	  class="relative text-2xl sm:text-3xl font-bold text-blue-800 w-max"
	>
	  Re<span class="text-[var(--color-dark-green)]">cruit</span>ure
	</p>

	<small
	  class="text-[10px] sm:text-[11px] font-switzer-reg text-[var(--color-dark-blue)] -mt-[3px]"
	  >By Edubridge Academy</small
	>
  </a>

  <!-- nav hamburger icon -->
  <button
	data-name="side_bar_button"
	class="scale-150 text-3xl font-bold text-[var(--color-dark-blue)]"
  >
	<i class="bi bi-x"></i>
  </button>
</div>

<!-- Nav links  -->
<ul class="flex flex-col gap-y-5 px-3 sm:px-5 py-5">
  <li>
	<a
	  class="text-[clamp(16px,2vw,22px)] text-[var(--color-dark-blue)] hover:text-[var(--color-dark-green)] tracking-wide"
	  href="/"
	  ><i class="bi bi-house-fill"></i> &nbsp; Home</a
	>
  </li>

  <li>
	<button
	  data-name="sidebar-employer-btn"
	  class="text-[clamp(16px,2vw,22px)] text-[var(--color-dark-blue)] hover:text-[var(--color-dark-green)] tracking-wide"
	>
	  <i class="bi bi-envelope-paper"></i> &nbsp; Employer
	</button>
  </li>

  <li>
	<a
	  class="text-[clamp(16px,2vw,22px)] text-[var(--color-dark-blue)] hover:text-[var(--color-dark-green)] tracking-wide"
	  href="./html/blog.html"
	  ><i class="bi bi-blockquote-left"></i> &nbsp; Blog</a
	>
  </li>

  <li>
	<a
	  class="text-[clamp(16px,2vw,22px)] text-[var(--color-dark-blue)] hover:text-[var(--color-dark-green)] tracking-wide"
	  href="./html/about.html"
	  ><i class="bi bi-journal-album"></i> &nbsp; About</a
	>
  </li>

  <li>
	<a
	  class="flex justify-center items-center transition-colors duration-200 text-[clamp(16px,2vw,20px)] text-[var(--color-dark-blue)] hover:text-white hover:bg-[var(--color-medium-green)] tracking-wide py-2 px-3 rounded-md border-2 border-gray-500 hover:border-[var(--color-medium-green)]"
	  href="https://edubridgeacademy.com/"
	  class=""
	  >Get certified</a
	>
  </li>
  <li>
	<button
	  data-name="sidebar-employer-btn"
	  class="flex justify-center items-center transition-colors duration-200 bg-[var(--color-dark-green)] hover:bg-[var(--color-medium-green)] text-[clamp(16px,2vw,20px)] text-white tracking-wide py-2 px-3 rounded-md w-full"
	>
	  Hire a Talent
	</button>
  </li>
</ul>

<!-- nav footer -->
<div class="grid grid-cols-2 gap-x-1 px-3 sm:px-5 py-5">
  <!-- Company Info -->
  <div>
	<h3
	  class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-dark-green)]"
	>
	  Company
	</h3>

	<div class="flex flex-col space-y-3 mt-3">
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md underline"
		href="#our-services"
		>Our Services</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md underline"
		href="#our-value-proposition"
		>Our value proposition</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md underline"
		href="./html/employer.html"
		>Get certified</a
	  >
	</div>
  </div>

  <!-- Contact info -->
  <div class="break-words">
	<h3
	  class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-dark-green)]"
	>
	  Get in Touch
	</h3>

	<div class="flex flex-col space-y-3 mt-3">
	  <p
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
	  >
		18, Bakare Dawodu Street, Ifako Gbagada Lagos.
	  </p>
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md underline"
		href="mailto:recruiture@edubridgeacademy.com"
		>recruiture@edubridgeacademy.com</a
	  >
	  <a
		class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md underline"
		href="tel:+234 906 066 6278"
		>+234 906 066 6278</a
	  >
	</div>
  </div>
</div>
</section>