{% extends 'base.html' %}

{% load static %}


	{% block title %} About Us - {% endblock title %}



	{% block content %}   

  	{% include 'partials/navbar.html' %}

  	{% include 'partials/sidebar.html' %}


    <!-- ------ Employer Modal section ------ -->
    {% include 'partials/employer_modal.html' %}

   
    <main>
      <!-- about heading  -->
      <section class="text-center max-w-6xl mx-auto mt-16 px-3 sm:px-5">
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)]"
        >
          About Us
        </h2>

        <p
          class="font-switzer-med text-[rgba(11,28,44,0.7)] text-[clamp(15px,1.5vw,20px)] mt-5 sm:max-w-[80%] lg:max-w-[1000px] mx-auto"
        >
          We are a recruitment agency that is reputed for matching employers
          with high productivity talent who are market-ready. <br />
          <br />
          Recruiture is your best bet to recruiting right as we have been known
          across industries to place the best talents in the commercial cities
          in Africa and beyond.
        </p>
      </section>

      <!-- about hero image one -->
      <section class="mx-auto max-w-6xl mt-10 h-full">
        <img
          class="w-full max-h-[500px]"
          src="{% static 'img/about/about-hero-one.png' %}"
          alt="recruiture staffs meeting"
        />
      </section>

      <!-- about (Our history) -->
      <section class="text-center max-w-6xl mx-auto mt-16 px-3 sm:px-5">
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)]"
        >
          Our History
        </h2>

        <p
          class="font-switzer-med text-[rgba(11,28,44,0.7)] text-[clamp(15px,1.5vw,20px)] mt-5 sm:max-w-[80%] lg:max-w-[1000px] mx-auto"
        >
          Recruiture by EduBridge Academy is the job placement arm of EduBridge
          Academy which specializes in meeting the recruitment needs of
          different roles from entry to senior managerial positions. <br />
          <br />

          Founded in 2019, Recruiture by EduBridge Academy has grown over time
          with its partners, creating a pathway for organizations to have access
          to highly-trained, sort after professionals through her parent company
          EduBridge Academy, thereby reducing training costs by 82% and
          increasing firm-wide productivity, both in finance and other
          industries.
        </p>
      </section>

      <!-- about hero image two -->
      <section class="mx-auto max-w-6xl mt-10">
        <img
          class="w-full max-h-[500px]"
          src="{% static 'img/about/about-hero-two.png' %}"
          alt="recruiture staff tutoring"
        />
      </section>
    </main>

{% include 'partials/footer.html' %}

{% endblock content %}