{% extends 'base.html' %}

{% load static %}

{% block title %} Blog - {% endblock title %} Blog - 



{% block content %} 

	{% include 'partials/navbar.html' %}

	{% include 'partials/sidebar.html' %}


    <!-- ------ Employer Modal section ------ -->
    {% include 'partials/employer_modal.html' %}

    {% include 'partials/applicant_modal.html' %}


    <main class="px-5">
      <!-- ------ Temporal Blog section ------- -->
      <section class="mt-16 max-w-[1000px] mx-auto">
        <!-- -------- article Hero Image --------- -->
        <div>
          <h1
            class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)] text-center"
          >
           {{ post.title }}
          </h1>

          <!-- hero image wrapper  -->
          <div class="mt-5 rounded-3xl">
            <img
              class="w-full max-h-[500px] object-fill"
              src="{{ post.image.url }}"
              alt=""
            />
          </div>

          <!-- authors name and date -->
          <div class="px-2 mt-3 max-w-[1000px] mx-auto">
            <p
              class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
            >
              <span>{{ post.get_author_name }}</span>&nbsp; &nbsp;
              <span> {{ post.created_at|date }}</span>
            </p>
          </div>
        </div>

        <!-- --- article text content wrapper --- -->
        <div class="mt-10">
          <p
            class="text-[clamp(1rem,1.2vw,1.2rem)] text-[rgba(11,28,44,0.7)] font-switzer-reg mt-4"
          >
          {% comment %} <p> {% endcomment %}

          {{ post.body|safe }}

        </p>

        </div>
      </section>

      <!-- --------- related aricles ---------- -->
      <section
        class="mt-10 max-w-6xl mx-auto border-t-4 border-[rgba(11,28,44,0.2)]"
      >
        <h3
          class="text-[clamp(15px,1.5vw,20px)] font-satoshi-black text-[var(--color-medium-blue)] mt-4"
        >
          Related articles
        </h3>

        <!-- ----------- blog wrapper ----------- -->
        <div
          class="mt-4 grid grid-cols-1 min-[525px]:grid-cols-2 min-[900px]:grid-cols-3 gap-3 min-[900px]:gap-5 gap-y-5"
        >
          <!-- card one -->
          {% for similar_post in similar_posts %}
          <article
            class="max-w-[400px] mx-auto min-[525px]:mx-[unset] min-[525px]:max-w-[unset] cursor-pointer rounded-3xl border-[0.5px] border-[rgba(11,28,44,0.2)] group"
          >
            <!-- image and image overlay -->
            <div
              class="relative h-60 group transition-transform duration-200 ease-out rounded-3xl"
            >
              <!-- image -->
              <img
                {% comment %} src="{% static 'img/home/home-aboutus-image1.png' %}" {% endcomment %}
                src="{{ similar_post.image.url }}"
                alt="image description here"
              />

              <!-- overlay -->
              <div
                class="absolute flex justify-center items-center bg-black bg-opacity-40 top-0 left-0 right-0 bottom-0 opacity-0 group-hover:opacity-100 transition-opacity duration-200 ease-out rounded-3xl"
              >
                <a
                  href="{{ similar_post.get_absolute_url }}"
                  class="text-white border-[var(--color-light-green)] border rounded-3xl p-2 px-10 scale-50 group-hover:scale-100 transition-transform duration-200 ease-out"
                  >visit &nbsp; <i class="bi bi-link"></i>
                </a>
              </div>
            </div>

            <!-- post body (title, author, time) -->
            <div class="px-5 py-3 relative group-hover:flip_vertical">
              <!-- title -->
              <h3
                class="font-satoshi-bold text-[clamp(1.1rem,1.4vw,1.4rem)] text-[var(--color-light-blue)]"
              >
                {{ similar_post.title }}
              </h3>

              <!--author/date  -->
              <div class="flex flex-wrap justify-between px-2 mt-3">
                <p
                  class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.2vw,1.2rem)] max-w-md"
                >
                  {{ similar_post.get_author_name }}
                </p>
                <p
                  class="font-switzer-reg text-[rgba(11,28,44,0.7)] text-[clamp(1rem,1.5vw,1.25rem)] leading-[clamp(1.5rem,2vw,3rem)] max-w-md"
                >
                  {{ similar_post.created_at|date }}
                </p>
              </div>

              <!-- post body overlay (post desc) -->
              <div
                class="absolute flip_vertical opacity-0 group-hover:opacity-100 top-0 rounded-3xl bottom-0 left-0 right-0 bg-white font-switzer-reg text-[rgb(11,28,44)] px-5 py-3 line__clamp__3"
              >
                <p class="line__clamp__4 text-[clamp(1rem,1.2vw,1.2rem)]">
                  {{ similar_post.body|safe|truncatewords:70 }}
                </p>
              </div>
            </div>
          </article>

          {% endfor %}

        </div>
      </section>
    </main>


	{% include 'partials/footer.html' %}

	{% endblock content %}
