{% extends 'base.html' %}

{% load static %}

{% block title %} Blog - {% endblock title %} 

{% block content %}


    <!-- ------------- Nav Bar -------------- -->
	 {% include 'partials/navbar.html' %}

    <!--------------- SideBar ---------------->
	{% include 'partials/sidebar.html' %}


  {% include 'partials/employer_modal.html' %}

    <!-- page body -->
    <main class="max-w-[900px] mx-auto mt-5 px-5">
      <p class="text-[clamp(1rem,2vw,1.2rem)] text-[rgba(0,0,0,0.3)] mb-5">
        Latest
      </p>

      {% for post in posts %}

      <!-- single blog post card -->
      <section class="mb-10 sm:mb-20">
        <!-- blog title/header -->
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)] text-left mb-4"
        >
          <a href="{{ post.get_absolute_url }}" class="hover:opacity-75">
           {{ post.title }}
          </a>
        </h2>

        <!-- post sub-description -->
        <p
          class="text-[clamp(1rem,2vw,1.2rem)] text-[rgba(11,28,44,0.7)] leading-7 font-switzer-reg mb-4"
        >
          {{ post.body|striptags|truncatewords:20}}
        </p>

        <!-- blog image/banner (Pls replace img alt attribute)-->
        <a href="#" class="my-6 blog__shadow block">
          <img
            class="h-auto max-w-full max-h-[405px] object-cover"
            src="{{ post.image.url }}"
            alt="blog title here"
          />
        </a>

        <!-- blog footer -->
        <div
          class="flex space-x-6 md:space-x-0 sm:justify-between items-center mt-5 px-5"
        >
          <!-- views -->
          <div>
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Views
            </p>
            <h2
              class="text-[clamp(1.5rem,2.7vw,2.5rem)] leading-none text-[var(--color-medium-green)]"
            >
              {{ post.views }}
            </h2>
          </div>

          <!-- last updated -->
          <div class="hidden sm:block">
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Last updated
            </p>
            <h2 class="text-[clamp(15px,1.5vw,20px)] text-[rgba(11,28,44,0.7)]">
              {% comment %} March 28, 2023 {% endcomment %}
              {{ post.updated_at|date }}
            </h2>
          </div>

          <!-- continue read btn -->
          <a
            href="{{ post.get_absolute_url }}"
            class="py-3 px-5 sm:px-8 md:py-5 md:px-12 lg:px-24 text-[15px] sm:text-[clamp(1rem,1.2vw,1.2rem)] sm:tracking-wider rounded text-[rgb(129,171,37)] bg-[rgb(129,171,37)]/30 hover:bg-[rgb(129,171,37)] hover:text-[#efe5d0] transition-colors duration-150 ease-linear"
          >
            Click to continue reading
          </a>
        </div>
      </section>

      {% empty %}

      {% endfor %}

      {% comment %} <section class="mb-10 sm:mb-20">
        <!-- blog title/header -->
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)] text-left mb-4"
        >
          <a href="#" class="hover:opacity-75">
            Affiliate SEO: We Analysed 10,000 Search Results to See Who Ranks
          </a>
        </h2>

        <!-- post sub-description -->
        <p
          class="text-[clamp(1rem,2vw,1.2rem)] text-[rgba(11,28,44,0.7)] leading-7 font-switzer-reg mb-4"
        >
          Can niche affiliate sites still rank when the likes of Amazon and
          Business Insider are competing against them? Here's the answer.
        </p>

        <!-- blog image/banner (Pls replace img alt attribute)-->
        <a href="#" class="my-6 blog__shadow block">
          <img
            class="h-auto max-w-full max-h-[405px] object-cover"
            src="{% static 'img/blog/blog-two.jpg' %}"
            alt="blog title here"
          />
        </a>

        <!-- blog footer -->
        <div
          class="flex space-x-6 md:space-x-0 sm:justify-between items-center mt-5 px-5"
        >
          <!-- views -->
          <div>
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Views
            </p>
            <h2
              class="text-[clamp(1.5rem,2.7vw,2.5rem)] leading-none text-[var(--color-medium-green)]"
            >
              304
            </h2>
          </div>

          <!-- last updated -->
          <div class="hidden sm:block">
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Last updated
            </p>
            <h2 class="text-[clamp(15px,1.5vw,20px)] text-[rgba(11,28,44,0.7)]">
              March 24, 2023
            </h2>
          </div>

          <!-- continue read btn -->
          <a
            href="#"
            class="py-3 px-5 sm:px-8 md:py-5 md:px-12 lg:px-24 text-[15px] sm:text-[clamp(1rem,1.2vw,1.2rem)] sm:tracking-wider rounded text-[rgb(129,171,37)] bg-[rgb(129,171,37)]/30 hover:bg-[rgb(129,171,37)] hover:text-[#efe5d0] transition-colors duration-150 ease-linear"
          >
            Click to continue reading
          </a>
        </div>
      </section>

      <section class="mb-10 sm:mb-20">
        <!-- blog title/header -->
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)] text-left mb-4"
        >
          <a href="#" class="hover:opacity-75">
            The $122Bn SEO Industry: 31 Success Stories (with Revenue Numbers)
            for 2023
          </a>
        </h2>

        <!-- post sub-description -->
        <p
          class="text-[clamp(1rem,2vw,1.2rem)] text-[rgba(11,28,44,0.7)] leading-7 font-switzer-reg mb-4"
        >
          If you're thinking about entering the space, or just want to know
          who's out there, we've got you covered.
        </p>

        <!-- blog image/banner (Pls replace img alt attribute)-->
        <a href="#" class="my-6 blog__shadow block">
          <img
            class="h-auto max-w-full max-h-[405px] object-cover"
            src="{% static 'img/blog/blog-three.jpg' %}"
            alt="blog title here"
          />
        </a>

        <!-- blog footer -->
        <div
          class="flex space-x-6 md:space-x-0 sm:justify-between items-center mt-5 px-5"
        >
          <!-- views -->
          <div>
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Views
            </p>
            <h2
              class="text-[clamp(1.5rem,2.7vw,2.5rem)] leading-none text-[var(--color-medium-green)]"
            >
              792
            </h2>
          </div>

          <!-- last updated -->
          <div class="hidden sm:block">
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Last updated
            </p>
            <h2 class="text-[clamp(15px,1.5vw,20px)] text-[rgba(11,28,44,0.7)]">
              February 9, 2023
            </h2>
          </div>

          <!-- continue read btn -->
          <a
            href="#"
            class="py-3 px-5 sm:px-8 md:py-5 md:px-12 lg:px-24 text-[15px] sm:text-[clamp(1rem,1.2vw,1.2rem)] sm:tracking-wider rounded text-[rgb(129,171,37)] bg-[rgb(129,171,37)]/30 hover:bg-[rgb(129,171,37)] hover:text-[#efe5d0] transition-colors duration-150 ease-linear"
          >
            Click to continue reading
          </a>
        </div>
      </section>

      <section class="mb-10 sm:mb-20">
        <!-- blog title/header -->
        <h2
          class="font-satoshi-black text-[clamp(1.25rem,2.7vw,2.5rem)] text-[var(--color-medium-blue)] text-left mb-4"
        >
          <a href="#" class="hover:opacity-75">
            This Review Site Founder Made $3.8M in 12 Months: An In-Depth
            Interview
          </a>
        </h2>

        <!-- post sub-description -->
        <p
          class="text-[clamp(1rem,2vw,1.2rem)] text-[rgba(11,28,44,0.7)] leading-7 font-switzer-reg mb-4"
        >
          When I saw how much money this site was making, I knew I had to reach
          out to the founder.
        </p>

        <!-- blog image/banner (Pls replace img alt attribute)-->
        <a href="#" class="my-6 blog__shadow block">
          <img
            class="h-auto max-w-full max-h-[405px] object-cover"
            src="{% static 'img/blog/blog-four.jpg' %}"
            alt="blog title here"
          />
        </a>

        <!-- blog footer -->
        <div
          class="flex space-x-6 md:space-x-0 sm:justify-between items-center mt-5 px-5"
        >
          <!-- views -->
          <div>
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Views
            </p>
            <h2
              class="text-[clamp(1.5rem,2.7vw,2.5rem)] leading-none text-[var(--color-medium-green)]"
            >
              171
            </h2>
          </div>

          <!-- last updated -->
          <div class="hidden sm:block">
            <p
              class="uppercase text-[clamp(0.75rem,1.2vw,1rem)] text-[rgba(0,0,0,0.3)]"
            >
              Last updated
            </p>
            <h2 class="text-[clamp(15px,1.5vw,20px)] text-[rgba(11,28,44,0.7)]">
              January 10, 2023
            </h2>
          </div>

          <!-- continue read btn -->
          <a
            href="#"
            class="py-3 px-5 sm:px-8 md:py-5 md:px-12 lg:px-24 text-[15px] sm:text-[clamp(1rem,1.2vw,1.2rem)] sm:tracking-wider rounded text-[rgb(129,171,37)] bg-[rgb(129,171,37)]/30 hover:bg-[rgb(129,171,37)] hover:text-[#efe5d0] transition-colors duration-150 ease-linear"
          >
            Click to continue reading
          </a>
        </div>
      </section> {% endcomment %}
    </main>


    {% include 'partials/footer.html' %}

{% endblock content %}

